*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color:white;
}
html, body{
    height: 100%;
    margin: 0;
}
body{
    align-items: center;
    background-color: #03045e;
    display: flex;
    font-family: url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap');
}
.container{
    color: #caf0f8;
    margin: 0 auto;
    text-align: center;
}
h1{
    font-weight:900;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    padding-left: 1rem ;
    font-size: 3.0rem;
    margin-left: 10rem;
}


.emoji{
    display:none;
    padding: 1rem;
}
.emoji span {
    font-size: 2rem;
    padding: 0.5rem;
}
button{
    padding: 5rem 6rem 5rem 5rem;
    width: 17%;
    height: 10%;
    border: none;
    border-radius: 0.7em;
    background-color: #00b4d8;
    font-size: 2rem;
    text-transform:capitalize;
    margin-top: 4rem;
    margin-left: 6rem;
}
